<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmação de envio</title>
</head>
<body>
    <section>
        <h2>Olá, <b th:text="${name}">name</b>!</h2>
        <p>Parabéns! Seu registro foi realizado com sucesso!</p>
        <div>
            <img src="images/logo.png" data-th-src="|cid:logo|" height="100">
        </div>
    </section>

</body>
</html>